<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <Pattern>${CONSOLE_LOG_PATTERN}</Pattern>
        </encoder>
    </appender>

    <logger name="org.apache.catalina.startup.DigesterFactory" level="OFF"/>
    <logger name="org.hibernate.validator" level="WARN"/>
    <logger name="org.mongodb.driver" level="WARN"/>
    <logger name="org.reflections" level="WARN"/>
    <logger name="org.springframework" level="WARN"/>
    <logger name="org.springframework.cloud" level="WARN"/>
    <logger name="org.springframework.web.servlet" level="WARN"/>
    <logger name="org.springframework.web.socket" level="WARN"/>
    <logger name="org.springframework.http" level="WARN"/>
    <logger name="org.springframework.security" level="WARN"/>
    <logger name="org.springframework.cache" level="WARN"/>
    <logger name="org.springframework.data" level="WARN"/>

    <root level="INFO">
        <appender-ref ref="consoleAppender"/>
    </root>

    <appender name="FLUENCY_SYNC" class="ch.qos.logback.more.appenders.FluencyLogbackAppender">
        <!-- Tag for Fluentd. Farther information: http://docs.fluentd.org/articles/config-file -->
        <tag>info</tag>

        <!-- Host name/address and port number which Flentd placed -->
        <remoteHost>docker.for.mac.localhost</remoteHost>
        <port>24224</port>

        <!-- [Optional] Additional fields(Pairs of key: value) -->
        <additionalField>
            <key>service</key>
            <value>first</value>
        </additionalField>
        <additionalField>
            <key>tags</key>
            <value>java</value>
        </additionalField>

        <!-- [Optional] Configurations to customize Fluency's behavior: https://github.com/komamitsu/fluency#usage  -->
        <ackResponseMode>false</ackResponseMode>
        <fileBackupDir>/tmp</fileBackupDir>
        <bufferChunkInitialSize>524288</bufferChunkInitialSize>
        <bufferChunkRetentionSize>256288</bufferChunkRetentionSize>
        <maxBufferSize>1048576</maxBufferSize>
        <waitUntilBufferFlushed>30</waitUntilBufferFlushed>
        <waitUntilFlusherTerminated>40</waitUntilFlusherTerminated>
        <flushIntervalMillis>200</flushIntervalMillis>
        <senderMaxRetryCount>12</senderMaxRetryCount>
        <!-- [Optional] Enable/Disable use of EventTime to get sub second resolution of log event date-time -->
        <useEventTime>true</useEventTime>
        <sslEnabled>false</sslEnabled>
        <!--  [Optional] If true, Map Marker is expanded instead of nesting in the marker name -->
        <flattenMapMarker>false</flattenMapMarker>

        <encoder>
            <pattern><![CDATA[%date{HH:mm:ss.SSS} [%thread] %-5level %logger{15}#%line %msg]]></pattern>
        </encoder>
    </appender>

    <appender name="FLUENCY" class="ch.qos.logback.classic.AsyncAppender">
        <!-- Max queue size of logs which is waiting to be sent (When it reach to the max size, the log will be disappeared). -->
        <queueSize>999</queueSize>
        <!-- Never block when the queue becomes full. -->
        <neverBlock>true</neverBlock>
        <!-- The default maximum queue flush time allowed during appender stop.
             If the worker takes longer than this time it will exit, discarding any remaining items in the queue.
             10000 millis
         -->
        <maxFlushTime>10000</maxFlushTime>
        <appender-ref ref="FLUENCY_SYNC"/>
    </appender>

    <root level="INFO">
        <appender-ref ref="FLUENCY"/>
    </root>

</configuration>
