<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
      <encoder>
          <charset>UTF-8</charset>
          <Pattern>${CONSOLE_LOG_PATTERN}</Pattern>
      </encoder>
    </appender>

    <logger name="org.apache.catalina.startup.DigesterFactory" level="OFF"/>
    <logger name="org.hibernate.validator" level="WARN"/>
    <logger name="org.mongodb.driver" level="WARN"/>
    <logger name="org.reflections" level="WARN"/>
    <logger name="org.springframework" level="WARN"/>
    <logger name="org.springframework.cloud" level="WARN"/>
    <logger name="org.springframework.web.servlet" level="WARN"/>
    <logger name="org.springframework.web.socket" level="WARN"/>
    <logger name="org.springframework.http" level="WARN"/>
    <logger name="org.springframework.security" level="WARN"/>
    <logger name="org.springframework.cache" level="WARN"/>
    <logger name="org.springframework.data" level="WARN"/>

    <root level="INFO">
        <appender-ref ref="consoleAppender"/>
    </root>

    <springProfile name="prod,dev">
        <springProperty name="host" source="logstash.host" defaultValue="logstash"/>
        <springProperty name="port" source="logstash.port" defaultValue="1514"/>

        <appender name="logstash" class="net.logstash.logback.appender.LogstashSocketAppender">
            <syslogHost>${host}</syslogHost>
            <port>${port}</port>
            <customFields>{"appName": "second", "tags": ["second", "java_apps"]}</customFields>
        </appender>

        <root level="INFO">
            <appender-ref ref="logstash"/>
        </root>
    </springProfile>

</configuration>
