spring:
  application:
    name: config-server
  rabbitmq:
    host: rabbit
    username: rabbitmq
    password: rabbitmq
  cloud:
    inetutils:
      preferred-networks: 192,10.0
      timeout-seconds: 5
    config:
      server:
        git:
          clone-on-start: true
          uri: git@bitbucket.org:RostislavReznichenko/configuration-properties.git
          delete-untracked-branches: true
          force-pull: true
          refresh-rate: 30
        monitor:
          bitbucket:
            enabled: true

server:
  servlet:
    context-path: /config-server
  port: 8080

eureka:
  instance:
    leaseRenewalIntervalInSeconds: 10
    status-page-url-path: ${server.servlet.context-path}/actuator/info
    health-check-url-path: ${server.servlet.context-path}/actuator/health
    metadata-map:
      management.context-path: ${server.servlet.context-path}/actuator
      startup: ${random.int}    #needed to trigger info and endpoint update after restart
  client:
    service-url:
      defaultZone: ${eureka.host}
    register-with-eureka: true
    registry-fetch-interval-seconds: 10
  host: http://eureka-server:8882/service-registry/eureka/

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: ALWAYS
  info:
    git:
      mode: full